*{
    margin: 0;
    padding: 0;
}

.dark-mode{
    --mainBg: #0C1618;
    --fontColour: white;
    transition: 600ms;
}

.light-mode{
    --mainBg: lightgrey;
    --fontColour: black;
    transition: 600ms;
}


body{
    background-color: var(--mainBg);
    color: var(--fontColour);
}

header{
    width: 100%;
    height: 60px;
    font-family: 'Harry Potter', sans-serif;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.menu{
    margin-right: 30px;
}

.btn_toggle{
    height: 30px;
    width: 30px;
    border-radius: 100%;
    margin-top: 15px;
    margin-right: 15px;
}

header ul{
    list-style: none;
    display: flex;
    justify-content: end;
    margin-right: 5%;
    margin-top: 20px;
}

header li{
    margin-left: 15%;
}

header a{
    color: var(--fontColour);
    font-size: 26px;
    text-decoration: none;
}

header a:hover{
    color: #D1AC00;
}

.background img{
    width: 100%;
    object-fit: contain;
}


